
<!-- Cabeçalho da Janela -->
<div class="row" id="cabPag">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <h1 style="text-align: center">Novo Leilão</h1>
    </div>
</div>

<div class="container col-xs-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10px;">
    <div class="row">
        <!-- Formulário -->
        <form role="form" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="categoria">
                            Categoria
                        </label>
                        <select ng-model="leilao.categoria" class="form-control" id="categoria">
                            <option ng-repeat="cat in opCategorias" value="{{cat.value}}">{{cat.text}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <label for="data_inic">
                            Data de Inicio
                        </label>
                        <input type="text" ng-model="leilao.dataHoraInicio" class="form-control" id="data_inic" data-mask="99/99/9999 99:99:99" placeholder="Ex.: XX/XX/XXXX XX:XX:XX"/>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <label for="data_exec">
                            Data da Execução
                        </label>

                        <input type="text" ng-model="leilao.dataHoraExecucao" class="form-control" data-mask="99/99/9999 99:99:99" id="data_exec" placeholder="Ex.: XX/XX/XXXX XX:XX:XX"/>




                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <label for="data_limite">
                            Data Limite dos Lances
                        </label>
                        <input type="text"  ng-model="leilao.dataHoraFinal" data-mask="99/99/9999 99:99:99" class="form-control" id="data_limite" placeholder="Ex.: XX/XX/XXXX XX:XX:XX"/>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="descricao">
                            Descrição do Serviço
                        </label>
                        <textarea ng-model="leilao.descricao" class="form-control" rows="5" id="descServ" placeholder="Informe aqui a descrição do seu serviço"></textarea>
                    </div>
                </div>
            </div>

            <!--
            <div class="form-group">
                <div class="row">
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="valor_min">
                            Valor Mínimo
                        </label>
                        <input type="text" ng-model="leilao.valor_min" class="form-control" id="valor_min" placeholder="Ex.: $ 00.00"/>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="valor_max">
                            Valor Máximo
                        </label>
                        <input type="text" ng-model="leilao.valor_max" class="form-control" id="valor_max" placeholder="Ex.: $ 00.00"/>
                    </div>
                </div>
            </div>
            -->

            <div class="form-group">
                <div class="row">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="end_rua">
                            Endereço
                        </label>
                        <input type="text" ng-model="leilao.endereco" class="form-control" id="end_rua" placeholder="Ex.: Rua Exemplo"/>
                    </div>
                    <!--
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="end_rua">
                            Rua ou Avenida
                        </label>
                        <input type="text" ng-model="leilao.end_rua" class="form-control" id="end_rua" placeholder="Ex.: Rua Exemplo"/>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label for="end_nro">
                            Número
                        </label>
                        <input type="text" ng-model="leilao.end_nro" class="form-control" id="end_nro" placeholder="Ex.: 1234"/>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label for="end_compl">
                            Complemento
                        </label>
                        <input type="text" ng-model="leilao.end_compl" class="form-control" id="end_compl" placeholder="Ex.: AP.701"/>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="end_bairro">
                            Bairro
                        </label>
                        <input type="text" ng-model="leilao.end_bairro" class="form-control" id="end_bairo" placeholder="Ex.: Exemplo"/>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label for="end_cidade">
                            Cidade
                        </label>
                        <input type="text" ng-model="leilao.end_cidade" class="form-control" id="end_cidade" placeholder="Ex.: Exemplo"/>
                    </div>
                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <label for="end_uf">
                            Estado
                        </label>
                        <input type="text" ng-model="leilao.end_uf" class="form-control" id="end_uf" placeholder="Ex.: RS"/>
                    </div>
                </div>
            </div>-->

                </div>
            </div>
            <!-- Botões -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="button" ng-click="cadastrar(leilao)" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Salvar</button>
                        <a class="btn btn-danger" href="#/leiloes-abertos" role="button"><span class="glyphicon glyphicon-menu-left"></span>Cancelar</a>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>