
<!-- Cabeçalho da Janela -->
<div class="row" id="cabPag">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <h1 style="text-align: center">Novo Usuário Comercial</h1>
    </div>
</div>

<div class="container col-xs-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: 10px;">
    <div class="row">
        <!-- Formulário -->
        <form role="form" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <label for="pessoa">
                            Pessoa <br>
                        </label>
                        <div>
                            <input type="radio" name="op" id="op1" onclick="location.href = '#/perfil-novo'"> Física 
                            <input type="radio" name="op" id="op2" onclick="location.href = '#/perfil-juridica-novo'"> Jurídica
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <label for="nome">
                            Razão Social
                        </label>
                        <input  type="text"  ng-model="pessoa.nome" class="form-control" id="pessoa_nome" />
                    </div>
                </div>
            </div>
            
            
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cnpj">
                            CNPJ
                        </label>
                        <input type="text" ng-model="pessoa.cnpj" class="form-control" id="cnpj"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="dataNascimento">
                            Data de Fundação
                        </label>
                        <input type="text" ng-model="pessoa.dataNascimento" class="form-control" id="dataNascimento"/>
                    </div>
                </div>
            </div>
            
             <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="email">
                            Email
                        </label>
                        <input type="text" ng-model="pessoa.email" class="form-control" id="email"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="telefones">
                            Telefone
                        </label>
                        <input type="text" ng-model="pessoa.telefones" class="form-control" id="telefones"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="username">
                            Username
                        </label>
                        <input type="text" ng-model="pessoa.username" class="form-control" id="username"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="senha">
                            Senha
                        </label>
                        <input type="password" ng-model="pessoa.senha" class="form-control" id="senha"/>
                    </div>
                    
                </div>
            </div>
            <!-- Botões -->
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="button" ng-click="cadastrar(pessoa)" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Salvar</button>
                        <a class="btn btn-danger" href="#/leiloes-abertos" role="button"><span class="glyphicon glyphicon-menu-left"></span>Cancelar</a>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>