<!-- Cabeçalho da Janela -->
<div class="row" id="cabPag">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <h1 style="text-align: center">Perfil Pessoa Jurídica</h1>
    </div>
</div>

<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
    <div class="row">
        <form role="form" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <label for="pessoa">
                            Fisico / Júridico <br>
                        </label>
                        <div>
                            <input type="radio" name="op" id="op1" onclick="location.href = '#/perfil'"> Física
                            <input type="radio" name="op" id="op2" checked onclick="location.href = '#/perfil-juridica'"> Jurídica
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <label for="nome">
                            Nome da Empresa
                        </label>
                        <input  type="text"  ng-model="perfil_pessoa.nome" class="form-control" id="pessoa_nome" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="username">
                            Username
                        </label>
                        <input type="text" ng-model="perfil_pessoa.username" class="form-control" id="username"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cnpj">
                            CNPJ
                        </label>
                        <input type="text" ng-model="perfil_pessoa.cnpj" class="form-control" id="cnpj"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="fundacao">
                            Data de Fundação
                        </label>
                        <input type="text" ng-model="perfil_pessoa.fundacao" class="form-control" id="fundacao"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="telefone">
                            Telefone
                        </label>
                        <input type="text" ng-model="perfil_pessoa.telefone" class="form-control" id="telefone"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="endreco">
                            Endereço
                        </label>
                        <input type="text" ng-model="perfil_pessoa.endereco" class="form-control" id="endereco"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="numero">
                            Número
                        </label>
                        <input type="text" ng-model="perfil_pessoa.numero" class="form-control" id="numero"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="complemento">
                            Complemento
                        </label>
                        <input type="text" ng-model="perfil_pessoa.complemento" class="form-control" id="complemento"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cep">
                            CEP
                        </label>
                        <input type="text" ng-model="perfil_pessoa.cep" class="form-control" id="cep"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="bairro">
                            Bairro
                        </label>
                        <input type="text" ng-model="perfil_pessoa.bairro" class="form-control" id="bairro" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cidade">
                            Cidade
                        </label>
                        <input type="text" ng-model="perfil_pessoa.cidade" class="form-control" id="cidade" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="estado">
                            Estado
                        </label>
                        <input type="text" ng-model="perfil_pessoa.estado" class="form-control" id="estado" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="referencia">
                            Ponto de Referência
                        </label>
                        <input type="text" ng-model="perfil_pessoa.referencia" class="form-control" id="referencia" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="infoadi">
                            Informções Adcionais
                        </label>
                        <textarea ng-model="perfil_pessoa.infoadi" class="form-control" rows="5" id="infoadi"></textarea>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button" ng-click="excluir(value.id)" class="btn btn-sm btn-danger" alt="Excluir" title="Excluir">
                    <span class="glyphicon glyphicon-remove"></span> Excluir
                </button>
                <button type="button" ng-click="editar(value)" class="btn btn-sm btn-default" alt="Editar" title="Editar">
                    <span class="glyphicon glyphicon-edit"></span> Editar
                </button>
            </div>
        </div>
    </div>
</div>