<!-- Cabeçalho da Janela -->
<div class="row" id="cabPag">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <h1 style="text-align: center">Perfil Pessoa Física</h1>
    </div>
</div>

<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
    <div class="row" ng-init="buscar()">
        <form role="form" method="POST" >
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <label for="pessoa">
                            Pessoa <br>
                        </label>
                        <div>
                            <input type="radio" name="op" id="op1" onclick="location.href = '#/perfil'"> Física 
                            <input type="radio" name="op" id="op2" onclick="location.href = '#/perfil-juridica-novo'"> Jurídica
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <label for="nome">
                            Nome
                        </label>
                        <input  type="text"  ng-model="lista.nome" class="form-control" id="pessoa_nome" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                 <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="username">
                            Username
                        </label>
                        <input type="text" ng-model="lista.username" class="form-control" id="username"/>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="senha">
                            Senha
                        </label>
                        <input type="password" ng-model="lista.senha" class="form-control" id="senha"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="email">
                            email
                        </label>
                        <input type="text" ng-model="lista.email" class="form-control" id="email"/>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cpf">
                            CPF
                        </label>
                        <input type="text" ng-model="lista.cpf" class="form-control" id="cpf"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="nascimento">
                            Data de Nascimento
                        </label>
                        <input type="text" ng-model="lista.DataNascimento" class="form-control" id="nascimento"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="telefone">
                            Telefone
                        </label>
                        <input type="text" ng-model="lista.telefones" class="form-control" id="telefone"/>
                    </div>
                </div>
            </div>
            <!---
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="endereco">
                            Endereço
                        </label>
                        <input type="text" ng-model="" class="form-control" id="endereco"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="numero">
                            Número
                        </label>
                        <input type="text" ng-model="" class="form-control" id="numero"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="complemento">
                            Complemento
                        </label>
                        <input type="text" ng-model="" class="form-control" id="complemento"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cep">
                            CEP
                        </label>
                        <input type="text" ng-model="" class="form-control" id="cep"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="bairro">
                            Bairro
                        </label>
                        <input type="text" ng-model="" class="form-control" id="bairro" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="cidade">
                            Cidade
                        </label>
                        <input type="text" ng-model="" class="form-control" id="cidade" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="estado">
                            Estado
                        </label>
                        <input type="text" ng-model="" class="form-control" id="estado" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <label for="referencia">
                            Ponto de Referência
                        </label>
                        <input type="text" ng-model="" class="form-control" id="referencia" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="infoadi">
                            Informções Adcionais
                        </label>
                        <textarea ng-model="" class="form-control" rows="5" id="infoadi"></textarea>
                    </div>
                </div>
            </div>
            -->
        </form>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="button" ng-click="excluir(lista)" class="btn btn-sm btn-danger" alt="Excluir" title="Excluir">
                    <span class="glyphicon glyphicon-remove"></span> Excluir
                </button>
                <button type="button" ng-click="editar(lista)" class="btn btn-sm btn-default" alt="Editar" title="Editar">
                    <span class="glyphicon glyphicon-edit"></span> Editar
                </button>
            </div>
        </div>
    </div>
</div>